# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

# Envs & build
.env
.venv
venv/
.conda/
dist/
build/

# Logs & outputs
logs/
outputs/
checkpoints/
.cache/

# IDE
.vscode/
.idea/


